<div class="sidenav">
    <a href="">
        <li style="list-style: none; text-align: center;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
        </li>
    </a>

    <a href="">
        <li style="list-style: none; text-align: center;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </li>
    </a>

    <a href="">
        <li style="list-style: none; text-align: center;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">assessment</mat-icon>
        </li>
    </a>

    <a href="">
        <li style="list-style: none; text-align: center;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
        </li>
    </a>

</div>