<app-topbar></app-topbar>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/adwords/campaigns']">Google Ads</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/adwords/campaigns']" routerLinkActive="router-link-active">Campaigns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/adwords/adgroups']" routerLinkActive="router-link-active">Ad Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/adwords/ad']" routerLinkActive="router-link-active">Ads</a>
                </li>
            </ul>
            <form (ngSubmit)="buscar(forma)" #forma="ngForm">
                <mat-form-field>
                    <input name="startDate" [(ngModel)]="general.startDate" matInput [matDatepicker]="picker2" placeholder="fecha inicial">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>



                <mat-form-field>
                    <input name="endDate" [(ngModel)]="general.endDate" matInput [matDatepicker]="picker" placeholder="fecha final">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <button type="submit" mat-icon-button aria-label="submit" color="primary">
                    <mat-icon>search</mat-icon>
                </button>

            </form>
        </div>
    </nav>

</div>