<div class="body">
    <app-sidenav></app-sidenav>
    <div class="main">
        <app-toolbar-adwords></app-toolbar-adwords>

        <div class="content" role="main">
            <div class="m-3">
                <div class="mt-4" style="margin-left: 15px; margin-right: 15px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Keywords</th>
                                <th scope="col">Clicks</th>
                                <th scope="col">Impresions</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Average CPC</th>
                                <th scope="col">Conversions</th>
                                <th scope="col">Cost per Conv.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>